<div class="container px-5 px-sm-0">
  <div class="row">
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-3">
      <!-- ユーザー情報セクション -->
      <h2>User info</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image.jpg', size: "100x100" %>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      
      <div class="row">
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i> 
          <% end %>
        <% end %>
      </div>

      <!-- 新規投稿フォーム -->
      <h2 class="mt-3">New book</h2>
      <%= form_with model: [@user, @book],url:books_path, method: :post do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "Body" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <!-- 書籍一覧セクション -->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <% if book.user.profile_image.attached? %>
                    <%= image_tag book.user.profile_image, size: "50x50", alt: "" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: "50x50", alt: "" %>
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>